body {
    background-image: url(desktop-wallpaper-binary-code-green-binary-code.jpg);
}

body { img src: height: 150 width: 650;;


}

p {
    color: #09c017;
}

h3 {
    color: #09c017;
}

i {
    color: #09c017;
}

h4 {
    color: #09c017;
}

h1 {
    color: #09c017;
}

hr {
    color: black;
}

p {
    font-size: large;
}

a {
    color: #09c017;
}