/* body {
    background-image: url(desktop-wallpaper-binary-code-green-binary-code.jpg);
} */
/* body {
    background-color: rgb(14, 64, 21);
} */

body {
    background-image: url(goa.gif);
    size: sm;
}

h3 {
    color: #05a315ba;
}


a {
    color: #05a315ba;
}

.Join_GOA {
    font-size: 45px;
    color: #05a315ba;
    
}

.goa_fb {
    position: absolute;
    font-size: 35px;
    color: #05a315ba;
}

.youtube_goa {
    font-size: 35px;
    color: #05a315ba;
}

.gmail {
    font-size: 35px;
    color: #05a315ba;
}

.study_goa {
    font-size: 25px;
    color: #05a315ba;
}

.number {
    font-size: 35px;
    color: #05a315ba;
}

.image_zahesi {
    height: 430px;
    width: 600px;

}

.offers {
    font-size: 20px;
    color: #05a315ba;
}

.customised {
    font-size: 20px;
    color: #05a315ba;
}

.Heads_on {
    font-size: 20px;
    color:#05a315ba;
}

.instructions {
    font-size: 25px;
    color: #05a315ba;
}

.cxovreba {
    height: 350px;
    width: 500px;
}

.matrix {
    text-align: center;
    font-size: 30px;
    color: #05a315ba;
}

.goa_xalxi {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 550px;
}

.shesavali {
    font-size: 21px;
    color: #05a315ba;
}

.first {
    text-align: center;
    font-size: 55px;
    color: #05a315ba;
}

.goapic {
    margin-left: auto;
    margin-right: auto;
    height: 150px; 
    width: 650px;
}

hr {
    width: 100%;
}